.body {
    margin: 0;
    padding: 0;
}

.App {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #edf2fb;
    padding: 0;
}

.App-header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    min-width: 100vw;
}

.App-header__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: dodgerblue;
    border-radius: 50%;
    text-align: center;
    color: snow;
    font-weight: bold;
    font-size: xxx-large;
}

.App-layout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ticket-layout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    min-width: 720px;
    min-height: 700px;
}

.none {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    min-height: 120px;
    width: 700px;
    margin-top: 50px;
    color: dodgerblue;
    font-weight: bold;
    font-size: xxx-large;
}